[2022-02-24 16:06] palisadoes opened #532 "Resolvers: Create tests for createGroupChat.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/group_chat_mutations/createGroupChat.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the

[2022-02-24 17:01] palisadoes opened #533 "Resolvers: Create tests for sendMessageToGroupChat.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/group_chat_mutations/sendMessageToGroupChat.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions

[2022-02-24 17:01] palisadoes opened #534 "Resolvers: Create tests for addUserToGroupChat.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/group_chat_mutations/addUserToGroupChat.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in

[2022-02-24 17:02] palisadoes opened #535 "Resolvers: Create tests for addLanguageTranslation.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/language_maintainer_mutation/addLanguageTranslation.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or f

[2022-02-24 17:02] palisadoes opened #536 "Resolvers: Create tests for removeMember.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/member_mutations/removeMember.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refact

[2022-02-24 17:02] palisadoes opened #537 "Resolvers: Create tests for leave_organization.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/member_mutations/leave_organization.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the

[2022-02-24 17:03] palisadoes opened #538 "Resolvers: Create tests for joinPublicOrganization.ts"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/lib/resolvers/Mutation/joinPublicOrganization.ts`

- We will need the API to be refactored for

[2022-02-24 17:03] palisadoes opened #539 "Resolvers: Create tests for eventsByOrganization.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/eventsByOrganization.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the ref

[2022-02-24 17:03] palisadoes opened #540 "Resolvers: Create tests for isUserRegister.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/isUserRegister.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactore

[2022-02-24 17:03] palisadoes opened #541 "Resolvers: Create tests for registeredEventsByUser.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/registeredEventsByUser.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the r

[2022-02-24 17:04] palisadoes opened #542 "Resolvers: Create tests for event.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/event.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file wi

[2022-02-24 17:04] palisadoes opened #543 "Resolvers: Create tests for events.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/events.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file w

[2022-02-24 17:04] palisadoes opened #544 "Resolvers: Create tests for registrantsByEvent.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/registrantsByEvent.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refac

[2022-02-24 17:05] palisadoes opened #545 "Resolvers: Create tests for tasksByEvent.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_query/tasksByEvent.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored

[2022-02-24 17:05] palisadoes opened #546 "Resolvers: Create tests for myLanguage.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_query/myLanguage.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored fil

[2022-02-24 17:05] palisadoes opened #547 "Resolvers: Create tests for users.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_query/users.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file wil

[2022-02-24 17:06] palisadoes opened #548 "Resolvers: Create tests for userLanguage.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_query/userLanguage.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored f

[2022-02-24 17:06] palisadoes opened #549 "Resolvers: Create tests for user_filter.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_query/user_filter.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored fi

[2022-02-24 17:06] palisadoes opened #550 "Resolvers: Create tests for tasksByUser.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_query/tasksByUser.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored fi

[2022-02-24 17:07] palisadoes opened #551 "Resolvers: Create tests for user_orderBy.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_query/user_orderBy.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored f

[2022-02-24 17:07] palisadoes opened #552 "Resolvers: Create tests for updateOrganization.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/organization_mutations/updateOrganization.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions i

[2022-02-24 17:07] palisadoes opened #553 "Resolvers: Create tests for createOrganization.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/organization_mutations/createOrganization.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions i

[2022-02-24 17:08] palisadoes opened #554 "Resolvers: Create tests for removeOrganization.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/organization_mutations/removeOrganization.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions i

[2022-02-24 17:08] palisadoes opened #555 "Resolvers: Create tests for adminCheck.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/functions/adminCheck.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file

[2022-02-24 17:08] palisadoes opened #556 "Resolvers: Create tests for copyToClipboard.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/functions/copyToClipboard.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored

[2022-02-24 17:08] palisadoes opened #557 "Resolvers: Create tests for superAdminCheck.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/functions/superAdminCheck.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored

[2022-02-24 17:09] palisadoes opened #558 "Resolvers: Create tests for creatorCheck.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/functions/creatorCheck.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored fi

[2022-02-24 17:09] palisadoes opened #559 "Resolvers: Create tests for updateUserProfile.ts"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/lib/resolvers/Mutation/updateUserProfile.ts`

- We will need the API to be refactored for all

[2022-02-24 17:09] palisadoes opened #560 "Resolvers: Create tests for blockForPlugin.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_mutations/blockForPlugin.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refact

[2022-02-24 17:10] palisadoes opened #561 "Resolvers: Create tests for remove_user_image.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/lib/resolvers/Mutation/removeUserImage.ts`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refacto

[2022-02-24 17:10] palisadoes opened #562 "Resolvers: Create tests for add_user_image.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/user_image_mutations/add_user_image.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the

[2022-02-24 17:10] palisadoes opened #563 "Resolvers: Create tests for createAdmin.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/admin_mutations/createAdmin.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactor

[2022-02-24 17:10] palisadoes opened #564 "Resolvers: Create tests for admin-remove-post.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/admin_mutations/admin-remove-post.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the re

[2022-02-24 17:11] palisadoes opened #565 "Resolvers: Create tests for admin-remove-group-chat.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/admin_mutations/admin-remove-group-chat.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in

[2022-02-24 17:11] palisadoes opened #566 "Resolvers: Create tests for admin-remove-event.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/admin_mutations/admin-remove-event.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the r

[2022-02-24 17:11] palisadoes opened #567 "Resolvers: Create tests for removeAdmin.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/admin_mutations/removeAdmin.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactor

[2022-02-24 17:12] palisadoes opened #568 "Resolvers: Create tests for removeProject.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_project_mutations/removeProject.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in th

[2022-02-24 17:12] palisadoes opened #569 "Resolvers: Create tests for createProject.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_project_mutations/createProject.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in th

[2022-02-24 17:12] palisadoes opened #570 "Resolvers: Create tests for updateProject.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/event_project_mutations/updateProject.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in th

[2022-02-24 17:12] palisadoes opened #571 "Resolvers: Create tests for sendMessageToDirectChat.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/direct_chat_mutations/sendMessageToDirectChat.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functio

[2022-02-24 17:13] palisadoes opened #572 "Resolvers: Create tests for createDirectChat.ts"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/lib/resolvers/Mutation/createDirectChat.ts`

- We will need the API to be refactored for all m

[2022-02-24 17:13] palisadoes opened #573 "Resolvers: Create tests for removeDirectChat.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/direct_chat_mutations/removeDirectChat.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in t

[2022-02-24 17:13] palisadoes opened #574 "Resolvers: Create tests for cancel_membership_request.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/membership_request_mutations/cancel_membership_request.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/o

[2022-02-24 17:14] palisadoes opened #575 "Resolvers: Create tests for send_membership_request.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/membership_request_mutations/send_membership_request.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or

[2022-02-24 17:14] palisadoes opened #576 "Resolvers: Create tests for accept_membership_request.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/membership_request_mutations/accept_membership_request.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/o

[2022-02-24 17:14] palisadoes opened #577 "Resolvers: Create tests for reject_membership_request.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/membership_request_mutations/reject_membership_request.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/o

[2022-02-24 17:14] palisadoes opened #578 "Resolvers: Create tests for block_user.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/block_user_mutations/block_user.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refa

[2022-02-24 17:15] palisadoes opened #579 "Resolvers: Create tests for unblock_user.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/block_user_mutations/unblock_user.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the re

[2022-02-24 17:15] palisadoes opened #580 "Resolvers: Create tests for directChatsMessagesByChatID.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/direct_chat_query/directChatsMessagesByChatID.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functio

[2022-02-24 17:15] palisadoes opened #581 "Resolvers: Create tests for directChatsByUserID.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/direct_chat_query/directChatsByUserID.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in th

[2022-02-24 17:15] palisadoes opened #582 "Resolvers: Create tests for directChatMessages.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/direct_chat_query/directChatMessages.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the

[2022-02-24 17:16] palisadoes opened #583 "Resolvers: Create tests for directChats.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/direct_chat_query/directChats.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refact

[2022-02-24 17:16] palisadoes opened #584 "Resolvers: Create tests for getlanguage.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/language_maintainer_query/getlanguage.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in th

[2022-02-24 17:16] palisadoes opened #585 "Resolvers: Create tests for groups.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/group_query/groups.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file w

[2022-02-24 17:17] palisadoes opened #586 "Resolvers: Create tests for organizations_pagination.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/organization_query/organizations_pagination.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions

[2022-02-24 17:17] palisadoes opened #587 "Resolvers: Create tests for organizations.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/organization_query/organizations.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the ref

[2022-02-24 17:17] palisadoes opened #588 "Resolvers: Create tests for postsByOrganization.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/postsByOrganization.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refac

[2022-02-24 17:17] palisadoes opened #589 "Resolvers: Create tests for posts.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/posts.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file wil

[2022-02-24 17:18] palisadoes opened #590 "Resolvers: Create tests for comments.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/comments.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file

[2022-02-24 17:18] palisadoes opened #591 "Resolvers: Create tests for post.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/post.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored file will

[2022-02-24 17:18] palisadoes opened #592 "Resolvers: Create tests for commentsByPost.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/commentsByPost.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactored

[2022-02-24 17:19] palisadoes opened #593 "Resolvers: Create tests for groupChatMessages.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/group_chat_query/groupChatMessages.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the r

[2022-02-24 17:19] palisadoes opened #594 "Resolvers: Create tests for groupChats.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/group_chat_query/groupChats.js`

- We will need the API to be refactored for all methods, classes and/or functions found in this file for testing to be correctly executed.
- When complete, all all methods, classes and/or functions in the refactor

[2022-02-28 12:25] akshatgarg12 commented on #542
I would like to work on this

[2022-03-01 05:36] nishant3721 commented on #594
@palisadoes can I work on it!?

[2022-03-01 13:27] akshatgarg12 commented on #542
@palisadoes Acc. to me this test case will have the flow:
1. signup and login to create an event
2. querying that event
3. Checking the event details with the above created details.
4. removing the event and the user profile, irrespective of the test passing/failing

If this seems right can i move ahead and implement this.

[2022-03-03 07:17] akshatgarg12 commented on #474
So essentially the script should check whether the files in PR, have comments (in this style /** */) before the functions which are required for JSDoc to generate docs, and if it contains them move the file to pipeline to create docs.

[2022-03-03 17:28] DMills27 commented on #474
@akshatgarg12 Yes, that is correct.

[2022-03-04 13:45] palisadoes commented on #474
@akshatgarg12 do you want to work on this?

[2022-03-04 15:47] #469 closed

[2022-03-04 15:47] #470 closed

[2022-03-04 15:47] #449 closed

[2022-03-04 15:47] #450 closed

[2022-03-04 15:47] #451 closed

[2022-03-04 15:47] #452 closed

[2022-03-04 15:47] #453 closed

[2022-03-04 15:47] #454 closed

[2022-03-04 15:47] #455 closed

[2022-03-04 15:47] #456 closed

[2022-03-04 15:47] #457 closed

[2022-03-04 15:50] #328 closed

[2022-03-04 16:06] #274 closed

[2022-03-05 02:46] #475 closed

[2022-03-05 04:08] akshatgarg12 commented on #474
Yes , i m actually looking for a proper solution to do this using github actions

[2022-03-06 02:25] #463 closed

[2022-03-06 08:30] sumitra19jha commented on #492
@palisadoes Can I work on this?

[2022-03-06 14:33] #378 closed

[2022-03-06 17:00] sumitra19jha commented on #241
Please assign this issue to me.
Few checks are failing in existing PR by Kailash, those needs to be fixed

[2022-03-06 21:26] palisadoes commented on #376
The previous work on this issue failed. We need another person to give it a try.

[2022-03-06 21:27] #375 closed

[2022-03-06 21:54] #542 closed

[2022-03-07 17:32] XshubhamX commented on #592
@palisadoes, @yasharth291  I can work on this.

[2022-03-07 18:32] #376 closed

[2022-03-08 15:49] sumitra19jha commented on #535
@palisadoes I like to work on this

[2022-03-09 12:00] #241 closed

[2022-03-09 14:25] sumitra19jha commented on #427
@palisadoes Should I work on this issue?
I am enthusiastic about this problem statement

[2022-03-09 14:41] palisadoes commented on #427
@sandeep-v1404 is working on something similar for the GitHub Externship program. Please verify if this is the case. We may have to sign this issue to him

[2022-03-09 14:59] sumitra19jha commented on #427
@palisadoes Please assign this issue to Sandeep. He will be working on this

[2022-03-09 15:13] palisadoes commented on #427
Si him to comment on it so we can do that

[2022-03-09 15:17] sandeep-v1404 commented on #427
@palisadoes I'm working on this issue.

[2022-03-10 01:39] #492 closed

[2022-03-10 10:39] DivyanshuParwal commented on #477
Can I work on this issue?

[2022-03-10 20:52] sumitra19jha commented on #521
@jadeharr @palisadoes Please assign me this issue

[2022-03-10 23:22] sumitra19jha commented on #584
@jadeharr @palisadoes Please assign this issue to me

[2022-03-11 01:43] #535 closed

[2022-03-11 01:59] #262 closed

[2022-03-11 01:59] #259 closed

[2022-03-11 02:01] #474 closed

[2022-03-11 06:02] #521 closed

[2022-03-11 06:31] sumitra19jha commented on #584
@palisadoes Please assign this issue to me

[2022-03-11 12:34] akshatgarg12 commented on #480
i would like to work on this

[2022-03-11 14:59] sumitra19jha commented on #584
@palisadoes @Sagar2366 I have no issue assigned currently. Please assign this to me

[2022-03-12 08:53] arnab15 commented on #591
@palisadoes I would like to work on this issue please assign it to me

[2022-03-12 17:54] sumitra19jha opened #612 "npm run test is not stable"
**Describe the bug**
Recent PRs have caused the error due to which npm run test is not giving stable results

**To Reproduce**
Steps to reproduce the behavior:

1.run `npm run test`

**Expected behavior**
Same result should appear

**Actual behavior**
different results coming

**Screenshots**
![Screenshot 2022-03-12 at 10 42 12 PM](https://user-images.githubusercontent.com/35868598/158029131-a38df

[2022-03-12 17:55] sumitra19jha commented on #612
@palisadoes Please approve the issue and assign it to me

[2022-03-13 20:46] ShwetKhatri2001 commented on #590
I'd like to work on this issue and create tests for comments.

[2022-03-14 06:48] akshatgarg12 commented on #480
![Screenshot 2022-03-14 at 12 17 09 PM](https://user-images.githubusercontent.com/60404253/158119213-1bee58a7-f1b4-4dee-8215-cc377fabee56.png)
Is this the correct flow?

[2022-03-14 07:11] akshatgarg12 commented on #480
Also should we configure this whole action to trigger on push on develop branch, because it only makes sense to update the docs if the code is merged in the develop branch of talawa-api.

[2022-03-14 12:09] #477 closed

[2022-03-14 14:53] palisadoes opened #614 "Exposure of Sensitive Information to an Unauthorized Actor in nanoid"
**Describe the bug**

- The earliest fixed version is `3.1.31`.
- This vulnerability may be due to a package or a dependency of this packages that we are not using. This needs to be considered

**To Fix**
![image](https://user-images.githubusercontent.com/16875803/158197605-b5ce21ad-1176-4972-abbc-1e3bfcab8137.png)

**Expected behavior**
Version upgraded to `3.1.31`

**Actual behavior**
Version un

[2022-03-14 14:59] palisadoes opened #616 "Uncontrolled Resource Consumption in markdown-it"
**Describe the bug**
Special patterns with length > 50K chars can slow down parser significantly.

- This vulnerability may be due to a package or a dependency of this packages that we are not using. This needs to be considered

**To Reproduce**
See screenshot

**Expected behavior**
Normal parsing velocity

**How to fix**
Upgrade to v12.3.2+

**Screenshots**
![image](https://user-images.githubuser

[2022-03-14 19:44] arnab15 commented on #616
@palisadoes after auditing packages I found that "markdown-js": "^0.0.3" is going to fix this issue should I update "markdown-js" to ^0.0.3?and it seems this version is not dependent on markdown-it.

[2022-03-14 20:25] palisadoes commented on #616
Should we therefore remove `markdown-it` from `package.json`? If it is unnecessary, then it should be reomoved.

[2022-03-15 13:24] arnab15 commented on #616
@palisadoes I found that currently, markdown-js is deprecated as it's no longer in maintenance.in markdown-js v 0.04, they have a peer dependency on markdown-it but in v0.0.3 there is no dependency on markdown-id.
As markdown-js official docs say to use markdown-it so another workaround  for us will be we have to ditch markdown-js and use markdown-it,
currently, we are not using markdown-it as the

[2022-03-15 15:17] sumitra19jha commented on #612
@palisadoes Please close this issue
#611 The PR is done

[2022-03-15 15:17] sumitra19jha commented on #612
@palisadoes This issue is fixed #611

[2022-03-15 16:12] sumitra19jha commented on #587
@palisadoes @Sagar2366  Please assign this issue to me

[2022-03-15 18:19] #584 closed

[2022-03-16 05:44] priyang12 commented on #614
hi can i work on this issue?

[2022-03-16 09:51] priyang12 commented on #589
hi i like to work on this issue.

[2022-03-16 19:59] AbhishekM2001 opened #619 "Broken Link to Documentation for Setting Up Project"
**Describe the bug**
The link to 'Documentation for Setting up the Project' is broken in CONTRIBUTING.md file.

**To Reproduce**
Clicking on the link in Contributing.md file should give return a 404 error.

**Expected behavior**
The link should redirect to the INSTALLATION.md file.

**Actual behavior**
The link instead redirects to a non-existent CONFIGURATION.md file.

**Additional details**
As p

[2022-03-17 11:15] AbhishekM2001 opened #621 "Creating a Issue Report Guidelines file for talawa-api"
**Describe the bug**
Making a Issue Report Guidelines file for this repository similar to the one present in talawa repository.

**Expected behavior**
The link to Issue Report Guidelines should redirect to file in same repository.

**Actual behavior**
The link instead redirects to Issue Report Guidelines file in talawa project.

**Additional details**
As per the discussion on this issue on organiz

[2022-03-17 11:22] AbhishekM2001 opened #622 "Link to Issue Template in Issue Report Guidelines returns a 404 error"
**Describe the bug**
Link to Issue Template in Issue Report Guidelines is broken and returns a 404 error.

**Expected behavior**
The link should direct to a proper Issue Template file.

**Actual behavior**
The link instead returns a 404 error.

**Additional details**
As per the discussion on this issue on organization's slack channel, I'd like to be assigned to solve this issue.

[2022-03-17 16:57] #587 closed

[2022-03-17 20:14] ebrahim354 commented on #588
I would like to work on this issue please

[2022-03-17 22:25] sumitra19jha commented on #586
@palisadoes @Sagar2366 Please assign this issue to me

[2022-03-19 09:57] arnab15 commented on #585
@palisadoes  please assign this issue to me

[2022-03-19 13:12] ebrahim354 commented on #578
can you assign this issue to me please.

[2022-03-19 14:06] ebrahim354 commented on #578
also there is already a file that tests block/unblock user called ./test/block_user_functionality_tests.spec.js

[2022-03-19 15:22] prashantgangwar25-7 commented on #502
Can i work on this issue?

[2022-03-19 16:44] asmitsirohi opened #628 "Error: While logged-in into talawa-admin"
**Describe the bug**
While logged-in into talawa-admin, the error  `"message": "Cannot return null for non-nullable field Organization.name."` is generated.

**To Reproduce**
Steps to reproduce the behavior:

1. Login into talawa-admin
2. Open the console
3. You will see the error into the same (you must have created at least one organization)
4. Error is: `TypeError: can't access property "user",

[2022-03-19 16:54] palisadoes commented on #585
You already have two other issues assigned. If they are in a PR, ask for a review in the comments. We need to make everyone have a chance to participate.

[2022-03-19 17:03] palisadoes commented on #578
Please move the file to the expected location and if necessary, get it to 100% coverage.

[2022-03-19 19:32] #588 closed

[2022-03-20 11:03] kkg2001 commented on #593
I want to work on this issue

[2022-03-20 11:28] sandeep-v1404 commented on #583
@palisadoes Can you assign me this issue?

[2022-03-20 14:57] #628 closed

[2022-03-20 16:38] #619 closed

[2022-03-20 18:53] #553 closed

[2022-03-21 16:50] arnab15 commented on #616
@palisadoes I think we have to downgrade to markdown-js@0.0.3 for @0.04 it is going to solve that warning

[2022-03-21 16:54] arnab15 commented on #569
@palisadoes I would like to work on this issue if possible please assign it to me

[2022-03-21 19:42] palisadoes commented on #616
Have you investigated whether we need to use the package at all?

[2022-03-22 11:46] ebrahim354 commented on #579
I'm working on issue #578 and would like to solve this one along side the other one they are similar.

[2022-03-22 23:05] xoldyckk commented on #581
I'd like to be assigned to this issue.

[2022-03-23 00:23] xoldyckk commented on #581
I'd like to work on this issue.

[2022-03-23 06:14] AbhishekM2001 commented on #621
After looking into this issue, talawa-api already has a issue-guidelines.md file but the link to it was broken.

[2022-03-23 06:18] AbhishekM2001 commented on #621
The link to pull request guidelines in contributing.md also has a similar problem of redirecting to the PR-guidelines.md file in talawa repository. I'll fix it in this PR itself.

[2022-03-23 14:29] saga2405 commented on #580
can you please assign this to me

[2022-03-24 04:36] ShwetKhatri2001 commented on #546
I'd like to work on this issue.

[2022-03-24 09:34] ShwetKhatri2001 commented on #548
I'd like to work on this issue.

[2022-03-24 11:50] kkg2001 commented on #593
Sir, do I have to use unit testing for this?
Also for source code I need to refer the code coverage section right? Is there anything else I should consider?
I need your guidance about how to get started.
Thanks

[2022-03-25 01:42] xoldyckk commented on #572
I'd like to work on this issue.

[2022-03-25 01:46] xoldyckk commented on #570
I'd like to work on this issue.

[2022-03-25 09:27] ebrahim354 commented on #579
this issue should be closed

[2022-03-25 09:30] ebrahim354 commented on #554
I want to work on this please

[2022-03-25 14:55] #591 closed

[2022-03-25 17:20] #621 closed

[2022-03-25 18:32] xoldyckk commented on #570
I'd like to work on this issue.

[2022-03-25 19:30] palisadoes commented on #570
This is your third currently assigned issue. Please make sure your outstanding PRs are merged before requesting more.

[2022-03-25 19:32] palisadoes commented on #578
We had issues with your PR. The test suite was breaking. Please take a look. We had to revert.

[2022-03-25 19:32] palisadoes commented on #579
We had issues with your PR. The test suite was breaking. Please take a look. We had to revert.

[2022-03-25 20:54] xoldyckk commented on #570
Can we restart pull request check?

[2022-03-25 22:07] palisadoes commented on #570
They have been restarted

[2022-03-26 01:51] palisadoes commented on #573
We are at 94% coverage on the file. This issue has to be reopened.

- https://app.codecov.io/gh/PalisadoesFoundation/talawa-api/blob/develop/lib/resolvers/direct_chat_mutations/removeDirectChat.js

[2022-03-26 16:01] #581 closed

[2022-03-26 16:07] palisadoes commented on #573
@xoldyckk I may have been too quick to revert this PR. I was reviewing past slack posts.

1. Is it at all possible to get to 100% coverage for these cases?
1. Will we have to discount the ternary operator checking for `production` in all our PRs when evaluating coverage.

[2022-03-27 20:10] AbhishekM2001 commented on #560
@palisadoes I'd like to work on this issue.

[2022-03-27 21:24] palisadoes commented on #622
Are you still working on this?

[2022-03-27 21:35] AbhishekM2001 commented on #622
I'll work on it after working on a test creation issue. If the testing issue takes lot of time,I'll work on this alongside that(as this is easier).

[2022-03-27 22:42] xoldyckk commented on #582
I'd like to work on this.

[2022-03-29 12:30] Kunal4now commented on #592
@XshubhamX are you still working on this?

[2022-03-29 16:28] palisadoes commented on #480
@akshatgarg12 Are you still working on this? Did you get a response from @DMills27?

[2022-03-29 18:24] saga2405 commented on #582
can you assign this to me. I've worked on a similar test

[2022-03-29 18:57] saga2405 commented on #571
can you assign this to me. I've made the PR for the issues which were assigned to me. Now I've nothing assigned to me.

[2022-03-29 23:48] arnab15 commented on #568
@palisadoes assign this issue to me I would like to work on this issue as well

[2022-03-30 03:12] #546 closed

[2022-03-30 03:12] #548 closed

[2022-03-30 03:20] palisadoes commented on #571
Please contact the reviewers on slack to get them to look at your PRs. Dominic Mills and Michael Lue.

This is your third issue. You won't be assigned any more until your existing PR queue is resolved.

[2022-03-30 04:55] xoldyckk commented on #575
I'd like to work on this issue.

[2022-03-30 05:22] palisadoes commented on #575
You are at three issues now. You will not be assigned any more until you clear the issues tied to your PRs. Please contact the reviewers in slack directly to get request feedback and possibly approval.

[2022-03-30 11:46] ebrahim354 commented on #579
it should work now right?

[2022-03-30 11:46] ebrahim354 commented on #578
it should be working now

[2022-03-30 15:34] ebrahim354 commented on #585
I want to work on this please

[2022-03-30 17:03] palisadoes commented on #576
@ebrahim354 You are already working on two other issues in the repo and neither of them are submitted as PRs. Please focus on resolving the outstanding issues.

[2022-03-30 17:15] palisadoes commented on #579
The code coverage is zero on the file. Are you still working on it?

[2022-03-30 17:31] ebrahim354 commented on #578
No, I have submitted a PR that covers all possible cases for this file and the unblock one

[2022-03-30 17:47] palisadoes commented on #578
That PR had to be reverted as your tests were failing when others merged their code into the code base. You'll need to resubmit the PR.

[2022-03-30 17:52] ebrahim354 commented on #578
#630 was reverted then I resubmitted #646 and It was approved yesterday I think.

[2022-03-30 18:03] palisadoes commented on #578
Thanks. Do you have any idea as to why the code coverage number for those files zero?
- https://codecov.io/gh/PalisadoesFoundation/talawa-api/tree/develop/lib/resolvers/block_user_mutations/

[2022-03-30 18:15] ebrahim354 commented on #578
the tests are using axios and the main Api to test the resolvers from with in the apollo server which is the usual flow of the program in production, however the code coverage tool does not capture these tests instead counts when the file is directly accessed from the test file, if you want to see the actual coverage you should either try another tool (not sure this could work) or test the resolve

[2022-03-30 18:22] #579 closed

[2022-03-30 18:26] ebrahim354 commented on #576
Can I work on it now?

[2022-03-30 18:48] palisadoes commented on #578
I'm going to have to revert the code again. It's causing other tests to fail.

- https://github.com/PalisadoesFoundation/talawa-api/runs/5759635905?check_suite_focus=true

Someone else is going to have to work on this.

[2022-03-30 18:49] palisadoes commented on #554
I'm going to have to revert the code again. It's causing other tests to fail.

- https://github.com/PalisadoesFoundation/talawa-api/runs/5759635905?check_suite_focus=true

Someone else is going to have to work on this.

[2022-03-30 18:53] palisadoes commented on #578
Here is the error we are getting:

![image](https://user-images.githubusercontent.com/16875803/160909538-10a96568-4271-41bd-924b-d5545b30cdef.png)

[2022-03-30 18:53] palisadoes commented on #554
Here is the error we are getting:

![image](https://user-images.githubusercontent.com/16875803/160909538-10a96568-4271-41bd-924b-d5545b30cdef.png)

[2022-03-30 19:08] ebrahim354 commented on #554
The tests are failing because they relay on the files: organizationExists, adminCheck that are changed on this PR https://github.com/PalisadoesFoundation/talawa-api/pull/653 the pull requester should fix any affected files after the refactor of the code, but I can easily fix it if you want, also I still want to work on it please.

[2022-03-30 19:10] ebrahim354 commented on #554
He changed the format of errors thrown without fixing the rest of the tests that relay on it.

[2022-03-30 19:13] palisadoes commented on #554
This is getting confusing. I've reassigned the issue to you. Please resubmit the PR.

[2022-03-30 21:02] xoldyckk commented on #554
@palisadoes why are we using two approaches to test the resolvers? This is creating problems. Please decide on one approach and let us know. Either we run tests on the running server or we run the tests on just the resolver function. For first approach we'll have to run tests against a running server with a test-database. For second approach we just need to run a test-database. @ebrahim354 is usin

[2022-03-30 21:08] palisadoes commented on #554
I'd prefer to have tests that mimic a production system as much as possible, using mocks and if absolutely necessary a live server. @DMills27  and @JamaicanFriedChicken are working on an approach. Let's see what they have to say.

[2022-03-30 21:13] ebrahim354 commented on #554
I've finished fixing my block and unblock to test the resolver directly that should make both of us pass the test cases then the main developers should decide on a standard approach to be used from now on  so there is no conflicts between PRs.

[2022-03-30 21:16] palisadoes commented on #554
This may not be the right approach long term. Let's see what the other mentors have to say. They are researching options. I've contacted them off this thread. They should respond shortly.

[2022-03-30 21:40] ebrahim354 commented on #554
The first approach is better for mocking a server and also there is less code changes as  @xoldyckk said but the test coverage is not counted properly and the second approach is less code and easier to write so you guys should decide.

[2022-03-30 21:59] DMills27 commented on #554
The first approach is standardised for both the test and production server so we should use that one. Can you explain why there would not be sufficient test coverage in the first approach? Having a test database, as in the second approach, doesn't necessarily suggest that it is the more comprehensive option.

[2022-03-30 22:10] ebrahim354 commented on #554
I previously submitted a PR: #646 with tests for the block and unblock user resolvers testing all the possibilities but the coverage was 0 also when I rewritten the tests using the resolver directly I found a bug that I didn't find with the first trial. the coverage problem I explained it  on https://github.com/PalisadoesFoundation/talawa-api/issues/578 but I'm not sure if that is the reason thoug

[2022-03-31 06:08] palisadoes commented on #554
@ebrahim354

- What was the nature of the test you found with the resolver directly versus via the API?
- Could it have been discovered with more thorough testing via the API?
- If not, is it practical to use both approaches, or is it one or the other?
- The preferred approach is to have a standardized approach. Do you know of any way to make codecov work with APIs? Do you know of any other repos

[2022-03-31 17:59] ebrahim354 commented on #554
- The resolver was saving a whole organization object inside of a user record instead of just saving the org._id and use populate on it later which is problematic and that object(a mongoose object) was so big it didn't even fit in a console.log.
- It couldn't have been discovered with the API approach because graphql only sends specific fields after getting records from the database.
- It's possib

[2022-04-01 06:06] joharikushagra commented on #585
@palisadoes can I work on this issue?

[2022-04-01 15:31] palisadoes commented on #554
I spoke with Dominic. We will need to go with the live API approach. We'll need to figure out a way to evaluate the code coverage using this method, possibly using another tool

[2022-04-01 16:16] ebrahim354 commented on #554
So my reverted PRs should be ok the way they are or should I add some changes?.
Also this page might be helpful :
https://www.apollographql.com/docs/apollo-server/testing/testing

[2022-04-01 16:36] palisadoes commented on #554
Yes they should be resubmitted.

- How do we prevent future PRs from breaking? Do we add the testing regimen to the CONTRIBUTING.md file?
- Will past tests break with your PRs addition?

We'll need to covert existing tests to this approach too.

[2022-04-01 16:38] palisadoes commented on #585
@arnab15 do you still want to work on this issue?

[2022-04-01 17:12] ebrahim354 commented on #554
usually my process is after writing code and commiting it locally I run all the tests locally and if they pass I submit if they don't I don't submit so the PR breaking is the responsibility of the requester because he is the one who changed the passing tests.
this particular PR https://github.com/PalisadoesFoundation/talawa-api/pull/653 didn't break the system he just changed the format that the n

[2022-04-01 18:28] xoldyckk commented on #554
Since we are not mocking the database I think integration test corresponds the best with nature of resolver tests currently implemented. Though this is expected because the project is not following the best practices to easily implement unit or integration tests. For example this is very easy to do in a Nest.js project because everything is injected into the child components through dependency inj

[2022-04-01 18:59] arnab15 commented on #585
@palisadoes yes I can assign it to me

[2022-04-01 20:03] palisadoes commented on #554
@DMills27 @JamaicanFriedChicken Please respond. I'd like to get a definitive strategy so we can apply it to the PRs in the queue. The proposal to two both is interesting, especially if we provide guidance in the test issues.

@ebrahim354 If we use mocks, does this mean that we won't need to check the ENV variable to simplify the code?

[2022-04-01 20:54] ebrahim354 commented on #554
If mocks means using Apollo's [executeOperation](https://www.apollographql.com/docs/apollo-server/api/apollo-server/#executeoperation) then no need to check the ENV variable and the `i18n not initialized` will not occur since we are testing Apollo's interface itself with graphql queries.

[2022-04-01 21:34] palisadoes commented on #554
This looks like the approach we should use. @DMills27 @JamaicanFriedChicken Please comment.

@ebrahim354 Please prepare an issue to update CONTRIBUTING.md to describe the process you are proposing. We need to have others follow this methodology and direct them to the updated markdown when their tests fail. I'm assuming the issue will also need to include a method to create a blank DB etc. to make

[2022-04-03 05:21] Kunal4now commented on #592
@palisadoes  can I work on this?

[2022-04-03 10:16] SriramPatibanda opened #657 "Message Sent to Direct Chat Subscriptions bug fix"
**Describe the bug**
messageSentToDirectChat doesn't work.

**Expected behavior**
When messageSentToDirectChat mutation is used i.e. when a message is sent to a direct chat, this subscription must be listening for these changes.

**Actual behavior**
When messageSentToDirectChat mutation is used, it's subscription doesn't update.

[2022-04-03 12:00] Kunal4now opened #658 "Error: commentsByPost.js never throws an error when no comment is found"
**Describe the bug**
In `lib/resolvers/post_query/commentsByPost.js`

`if (!commentFound) {
    throw new NotFoundError(
      requestContext.translate('comment.notFound'),
      'comment.notFound',
      'comment'
 );`

 This block of code never executes because the query returns an empty object instead of a null value.

 `(!commentFound)` is always false even if there was no comment found

**Exp

[2022-04-03 12:32] DMills27 commented on #554
I agree that this approach suggested by @xoldyckk looks the most promising. I going to create a separate issue with the details you've proposed and I suggest you create a toy example for the purpose of verifying the proposed method and examining any hiccups.

[2022-04-03 12:47] DMills27 opened #660 "Implementing new API testing features"
A method suggested by @xoldyckk described in https://github.com/PalisadoesFoundation/talawa-api/issues/554#issuecomment-1086209815 seems to be the most promising for our testing and verification purposes. Create a toy model to see how well it suits our purposes. The toy model should be sufficiently extensive to cover the scope of our testing  while not being overly complicated. The tasks at hand a

[2022-04-03 12:47] DMills27 commented on #554
The new issue can be found here: https://github.com/PalisadoesFoundation/talawa-api/issues/660

[2022-04-03 15:46] #570 closed

[2022-04-03 15:47] #569 closed

[2022-04-03 15:58] #658 closed

[2022-04-03 16:09] palisadoes commented on #658
The PR for this issue was reverted. The code modification caused other tests to fail. If you make a modification, please run the entire test suite.

    https://github.com/PalisadoesFoundation/talawa-api/runs/5806689541?check_suite_focus=true

[2022-04-04 16:29] #657 closed

[2022-04-04 17:00] saga2405 commented on #552
can you assign this to me

[2022-04-04 17:03] palisadoes commented on #552
You already have 3 issues assigned. Please focus on closing those.

[2022-04-04 17:07] saga2405 commented on #552
Two issues are already approved and merged and I've made a PR for the 3rd issue too. So now I can work on a new issue

[2022-04-04 17:13] palisadoes commented on #552
Why aren't the issues closed?

[2022-04-04 17:14] saga2405 commented on #552
can i close it by myself as the PRs are merged?

[2022-04-04 17:15] palisadoes commented on #552
There is an autoclosing feature in GitHub. It's outlined in the CONTRIBUTING.md file.

[2022-04-04 17:19] #580 closed

[2022-04-04 17:19] #582 closed

[2022-04-04 17:21] palisadoes commented on #552
The time of our contributors and reviewers is valuable. I'm sure you understand. The procedures are put in place to help everyone, you included. Please follow the process in future. I'll assign the issue

[2022-04-04 17:27] saga2405 commented on #552
yes, I understand. sorry for missing these details, I'll keep this in mind from now on.

[2022-04-05 04:12] ShwetKhatri2001 commented on #558
I'd like to work on this issue.

[2022-04-05 04:12] ShwetKhatri2001 commented on #557
I'd like to work on this issue.

[2022-04-05 04:18] palisadoes commented on #557
This is the third issue you will be assigned. Please make sure you merge or close the other two before requesting any more assignments.

[2022-04-05 12:20] sandeep-v1404 commented on #513
@palisadoes Please assign me this issue.

[2022-04-05 12:21] sandeep-v1404 commented on #543
@palisadoes Please assign me this issue.

[2022-04-05 13:38] palisadoes commented on #513
You already have 4 issues assigned to you which is above our recommended limit of 2. Please close or merge the other issues before requesting more. You will be given priority for assignment of this issue when that is complete.

[2022-04-05 13:38] palisadoes commented on #543
You already have 4 issues assigned to you which is above our recommended limit of 2. Please close or merge the other issues before requesting more. You will be given priority for assignment of this issue when that is complete.

[2022-04-05 14:30] palisadoes commented on #554
I've been thinking about our resolver testing issues for some time. We have dozens of resolvers that require testing and it's just not scalable.

- Could we consider converting our resolver architecture to use a standardized filtering methodology like dGraph?
- How easy would that be for us to consider?
- Could it be done over the summer?

[2022-04-05 14:34] palisadoes commented on #554
@sandeep-v1404, @sumitra19jha, @JamaicanFriedChicken  What do you think?

[2022-04-06 05:15] arnab15 commented on #554
@DMills27 @palisadoes @sumitra19jha @xoldyckk I think Instead of following only one approach for testing we should implement unit testing for functions that is independent of the database in integration testing we can mock data and test those functions.
in an integration test, we can use a mock database for testing resolvers mutation and query but integration testing will be slow as there is a dat

[2022-04-06 12:16] palisadoes commented on #554
Based on your slack message in the `#talawa-api` channel, we should go with this approach. I confirmed this with @DMills27

[2022-04-06 14:31] saga2405 commented on #534
can you assign this to me. I've made PRs for the two issues that were assigned to me. Now I can work on a new issue

[2022-04-09 03:16] sandeep-v1404 commented on #476
Closing this issue as it has been solved by #669

[2022-04-09 03:16] #476 closed

[2022-04-09 12:36] saga2405 commented on #533
Please assign this to me. I've already made the PRs for the existing issues which are assigned to me and I've also contacted the assigned reviewers on slack to review my PR. I'm available to work on this issue now

[2022-04-09 14:57] sandeep-v1404 commented on #513
@palisadoes Can you please assign me this issue?

[2022-04-09 14:59] sandeep-v1404 commented on #543
@palisadoes Can you please assign me this issue as now I have PR for an issue and a total of 2 issues assigned?

[2022-04-09 19:06] palisadoes commented on #554
To clarify, there is no intention to use a hosted version of Dgraph. The question was whether we could modify the API to have an easier way to do filtering so that we don't have so many resolvers. The Dgraph and other links below are used as an example of the syntax that could be considered.

- https://www.gatsbyjs.com/docs/query-filters/
- https://dgraph.io/docs/graphql/queries/and-or-not/#nestin

[2022-04-10 05:10] #557 closed

[2022-04-10 17:06] #571 closed

[2022-04-11 02:01] ebrahim354 commented on #578
This issue should be resolved.

[2022-04-12 14:18] rohit-raje-786 commented on #614
@palisadoes there is no dependency name nanoid in the package.json file

[2022-04-12 22:48] ebrahim354 opened #675 "Feature Request"
**Is your feature request related to a problem? Please describe.**
So many hard coded values are scattered around the code that will cause problems later.

**Describe the solution you'd like**
a global Constants file or even folder that  hold them and helps manage the code more easily.

**Additional context**
This was requested by the mentors on : #674

[2022-04-12 22:49] ebrahim354 commented on #675
I want to work on it please.

[2022-04-12 22:51] ebrahim354 commented on #554
the file is fully tested now so the issue should be closed,
at least until there's a decision on what is the approach that will be taken in the future.

[2022-04-13 12:05] rohit-raje-786 commented on #594
@palisadoes can I work on this issue?

[2022-04-13 13:32] rohit-raje-786 opened #677 "Update INSTALLATION.md"
**Describe the bug**
The Installation.md File needs to be updated. Installing through the docker procedure needs to change the MongoDB URI and need to make changes in the docker.compose.yml file to map the port to the system port, so as to connect it to the MongoDB

**Expected behavior**
Changes In the MongoDB URI and docker.compose.yml file

[2022-04-13 13:35] saga2405 commented on #532
can you assign this to me. I've already made the PRs for the existing issues which are assigned to me and I've also contacted the assigned reviewers on slack to review my PR. I'm available to work on this issue now

[2022-04-13 15:11] palisadoes commented on #677
What are the changes you are proposing? What needs to change in the URLs and why?

[2022-04-13 15:12] palisadoes commented on #594
@nishant3721 are you still working on this?

[2022-04-13 18:06] rohit-raje-786 commented on #677
When I tried to run the test, I was facing the issue of MongoDB :
**Screenshot**
<img width="674" alt="Screenshot 2022-04-13 at 2 55 10 PM" src="https://user-images.githubusercontent.com/61861303/163242584-308ee5c0-a885-46af-9979-8942e3715315.png">

After making changes in the docker.compose.yml file and change in the MONGO_DB_URL the issue was resolved.

For proper installation, through docker, t

[2022-04-14 16:44] rohit-raje-786 commented on #594
@palisadoes sir should I work on this issue now?

[2022-04-14 16:56] palisadoes commented on #677
OK

[2022-04-14 16:58] palisadoes commented on #677
OK. Have you confirmed this with others on the slack channels? The concern is that we fix it for testing and it doesn't work in production.

[2022-04-14 17:43] #533 closed

[2022-04-16 02:21] #552 closed

[2022-04-16 19:48] palisadoes commented on #534
We need to get the code coverage up to 100% for this file.

[2022-04-17 07:48] sandeep-v1404 commented on #563
@palisadoes Please Assign me this issue.

[2022-04-17 07:48] sandeep-v1404 commented on #567
@palisadoes Please Assign me this issue.

[2022-04-17 07:59] anwersayeed opened #681 "Update Contributing.md"
In the `Contributing.md ` there is a section of `Internship` which include
* GSOC
* GitHub Externship
![Screenshot from 2022-04-17 13-20-42](https://user-images.githubusercontent.com/57287988/163705896-e1379738-fe8f-4edd-8e8a-5347aba8c151.png)

But in year 2022, `Talawa` also got selected for `Google Season of Docs`, So this should also be mentioned there.

[2022-04-17 13:55] palisadoes commented on #681
Closing. There is no issue mentioned in the PR. Please follow the procedure in CONTRIBUTING.md

[2022-04-17 13:55] #681 closed

[2022-04-17 14:14] sandeep-v1404 commented on #566
@palisadoes I'm working on this issue.

[2022-04-17 14:15] sandeep-v1404 commented on #564
@palisadoes  I'm working on this issue.

[2022-04-17 14:15] sandeep-v1404 commented on #565
@palisadoes  I'm working on this issue.

[2022-04-18 06:27] anwersayeed commented on #681
@palisadoes I mentioned this issue over the slack channel also. Now can you please open this issue so that I will make a fresh PR?
OR should I open the same issue again and ask for assignment?

[2022-04-18 11:59] Kunal4now commented on #577
@palisadoes can I work on this?

[2022-04-20 04:12] #564 closed

[2022-04-20 04:12] #566 closed

[2022-04-20 04:44] evasharma12 opened #690 "Improvements in Setup.md documentation"
The language of this file is very monotonous and repetitive. Inculcation of *code snippets* and brief explanations, *diagrams* or *snapshots* will enhance the delivery of this file efficiently.

[2022-04-20 04:45] evasharma12 commented on #690
I would be glad to work on this. Please assign me this issue.

[2022-04-20 07:38] sandeep-v1404 opened #691 "ES Lint Auto Fix"
**Is your feature request related to a problem? Please describe.**
ESLint throws the errors and formats the code but the changes are not being reflected in the commit.

**Describe the solution you'd like**
When a commit is made in a PR, even if `npm run lint` is not done by the user who makes the commit and if there are no errors thrown by the ESLint, the code format should take place automaticall

[2022-04-21 19:15] sandeep-v1404 commented on #514
@palisadoes I'm working on this issue.

[2022-04-21 20:18] sandeep-v1404 commented on #515
@palisadoes Can you assign me this issue?

[2022-04-21 20:28] sandeep-v1404 commented on #525
@palisadoes This issue has been fixed in PR #472. Hence, it can be closed.

[2022-04-21 20:29] sandeep-v1404 commented on #527
@palisadoes This issue has been fixed in PR #472. Hence, it can be closed.

[2022-04-21 20:31] sandeep-v1404 commented on #524
@palisadoes This issue has been fixed in PR #489.

[2022-04-21 20:31] sandeep-v1404 commented on #526
@palisadoes This issue has been fixed in PR #489.

[2022-04-22 12:55] saga2405 commented on #534
The current status of code coverage is as shown
![Screenshot (1651)](https://user-images.githubusercontent.com/66516087/164717520-22609c76-677d-4258-a2cd-0ad9f8b3f325.png)
The fact that it is 75 because of the two blocks of code in the main function which executes in case of an error, as shown
![Screenshot (1650)](https://user-images.githubusercontent.com/66516087/164717715-5f9b4f47-e1d0-43bd-b6b8

[2022-04-22 18:31] #525 closed

[2022-04-22 18:31] #527 closed

[2022-04-22 18:32] #524 closed

[2022-04-22 18:33] palisadoes commented on #526
Your PRs don't correctly reference the issues. That is why they are not automatically closing. Please be more careful in specifying the issues that will be fixed with your PRs.

[2022-04-22 18:33] #526 closed

[2022-04-22 18:34] #675 closed

[2022-04-22 18:41] palisadoes commented on #534
Is there an alternative approach to prevent this?

[2022-04-22 18:43] sandeep-v1404 commented on #526
@palisadoes I need to rollout a PR for moving the directories under `resolver_tests` to the `resolvers` directory.

[2022-04-22 19:39] sandeep-v1404 commented on #517
@palisadoes I'm working on this issue.

[2022-04-22 19:39] sandeep-v1404 commented on #516
@palisadoes I'm working on this issue.

[2022-04-22 19:40] sandeep-v1404 commented on #539
@palisadoes I'm working on this issue.

[2022-04-22 19:49] saga2405 commented on #534
Yes sir,  removing the environment check from the function and removing the ternary operator can fix this and can take the code coverage to 100.
The environment check is just an efficient and fast way of testing code in local enviroment

[2022-04-22 21:07] arnab15 commented on #531
@palisadoes I would like to work on this issue please assign this issue to me

[2022-04-22 21:08] arnab15 commented on #530
@palisadoes I would like to work on this issue please assign it to me.

[2022-04-23 19:25] sandeep-v1404 commented on #540
@palisadoes I'm working on this issue.

[2022-04-23 19:25] sandeep-v1404 commented on #541
@palisadoes I'm working on this issue.

[2022-04-23 19:26] sandeep-v1404 commented on #544
@palisadoes I'm working on this issue.

[2022-04-23 20:26] sandeep-v1404 commented on #545
@palisadoes I'm working on this issue.

[2022-04-24 05:44] evasharma12 commented on #690
I have made a Pull Request with the desired changes. Kindly review it.

Thank you.

[2022-04-24 14:41] palisadoes commented on #545
@sandeep-v1404 You have a large number of issues assigned to you. Please get your existing PRs merged before requesting any more.

[2022-04-24 17:34] #576 closed

[2022-04-26 16:40] #544 closed

[2022-04-26 16:41] #545 closed

[2022-04-29 14:50] #541 closed

[2022-05-01 00:30] #567 closed

[2022-05-01 13:57] #563 closed

[2022-05-01 13:58] #565 closed

[2022-05-02 13:21] #513 closed

[2022-05-02 13:21] #543 closed

[2022-05-02 13:22] #539 closed

[2022-05-02 13:22] #540 closed

[2022-05-04 14:11] #514 closed

[2022-05-05 13:50] saga2405 commented on #523
can you assign this to me

[2022-05-06 23:47] nishnatadebnath opened #704 "Maximum depth issue"
**Describe the bug**
Since in the frontend talawa uses fetch with more than 3 depth of fetching ,the app is bugged right now and non usable as it showing error.
**To Reproduce**
Steps to reproduce the behavior:

1.Login into app will show the issue
2.Signup also has same problem

**Expected behavior**
Proper login and sign-up to fetch all the details .
**Actual behavior**
Server is nor running or

[2022-05-07 22:49] palisadoes commented on #704
@sandeep-v1404 Can you look into this? It's a show stopper bug

[2022-05-08 11:59] nishnatadebnath commented on #704
I can easily fix the bug but need a thumbs up that this is a approved and verified issue and not something which is happening due to changes made recently in other dependent part of the program!

[2022-05-09 00:09] palisadoes commented on #704
Approved and assigned

[2022-05-09 01:34] #592 closed

[2022-05-09 22:41] nishnatadebnath opened #706 "Login and signup issue at frontend talawa app."
**Describe the bug**
The login and signup is currently having a problem due to null being returned in query and mutation. This is follow up of the issue  #704  where we solve the null issue.
**To Reproduce**
Steps to reproduce the behavior:

1.Login in Talawa
or
2.SignUp in Talawa

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear an

[2022-05-10 05:24] arnab15 commented on #585
due to my ongoing semester exam from 2nd May to 21 May, I am not able to contribute to this issue ,after 21May I'll start contributing again.

[2022-05-11 14:14] palisadoes opened #707 "Upgrade Lodash to version 4.17.21"
Our current version of the `easygraphql-tester` package is at v5.1.6. It requires a vulnerable version of lodash.

We need to fix this vulnerability so that both packages are upgraded appropriately.

![image](https://user-images.githubusercontent.com/16875803/167870731-c89394fb-a92b-4278-8d30-c11f5a5d2df3.png)

[2022-05-20 06:25] nishant3721 commented on #707
@palisadoes can I work on it?

[2022-05-22 04:00] xoldyckk commented on #707
Where is easygraphql-tester even being used in the codebase? I don't see it being used anywhere.

[2022-05-23 09:09] guptapriyanshu7 commented on #706
I'm getting 404 "Not Found" exceptions while signing up and the app stops at fetching organizations on the select screen.
There is no such problem in the locally hosted server which is also from the latest develop branch.

![image](https://user-images.githubusercontent.com/60141300/169783477-53cd91af-8e00-485e-98f4-342d5cac72e1.png)

<img src="https://user-images.githubusercontent.com/60141300/169

[2022-05-23 10:32] guptapriyanshu7 commented on #706
During logging, the app is throwing the null error for Organization name.
I have checked the login resolver file and found that during fetching the User from database "joinedOrganization" field is not populated and hence it remains null. @nishnatadebnath please look into it.

[2022-05-24 07:18] kb-0311 commented on #706
But then would that not return only the the joinedOrganization array of the ids as null in the user which we fetched from the User model by email ?

[2022-05-24 07:33] guptapriyanshu7 commented on #706
@kb-0311, joinedOrganization is a reference to 'Organization' model, using the populate method which mongoose provides all the fields be 'populated'.

[2022-05-24 09:58] kb-0311 commented on #706
@guptapriyanshu7 Thanks for your reply!
Yeah I got that the joinedOrganization is a reference to the Organization models but it will essentially store the Reference to a given organization object id. If The user has joined multiple orgs then the references to the Object will be stored as an array of objects containing the id of the orgs in the Organization Model..

What I was saying that if that w

[2022-05-24 11:18] guptapriyanshu7 commented on #706
The user doc which is returned is not null in itself, it's just that the joinedOrganizations fields have no data (other than ids) hence, an error is returned that the Organization.name is null which is expected to be non-nullable.

[2022-05-24 12:29] guptapriyanshu7 commented on #706
I have resolved the login issue, just have to open the PR.
You could look into registration, though I believe there is something else going wrong with it because I am able to signup with my local server.

[2022-05-24 12:36] kb-0311 commented on #706
ok great!
I don't think during registration we are passing the `joinedOrganizations` as an argument to create the new user.
We are only taking the `organizationBelongsTo` as an argument.

[2022-05-24 19:41] palisadoes commented on #706
This is good progress. Thanks for your efforts.

[2022-05-25 04:16] guptapriyanshu7 commented on #706
@kb-0311, yeah it could be that but in my case I am unable to fetch all the organizations during the first step of signup as shown in the screenshot. Are you facing similar issue?

[2022-05-25 06:38] kb-0311 commented on #706
I am sorry but I did not find where the `link.dart` file is could you pls link the file from the source code int the talawa mobile repo? Thanks.

The debugger shows an exception on a post request first which I think is the user details? Where are we making a get request to fetch all organizations again?

[2022-05-25 10:40] guptapriyanshu7 commented on #706
I was using wrong Heroku API URL that's why organizations were not fetching. Now it's working.

[2022-05-25 11:15] kb-0311 commented on #706
Great! So does that now mean this issue will be resolved and can be closed after your PR is merged?

[2022-05-25 12:41] nishnatadebnath commented on #706
I have a few days free in between the exam , so I will sum up the whole situation -
1)Signup issue-Why it is working in the latest developer branch and not in the

[2022-05-25 12:45] nishnatadebnath commented on #706
The signup issue is not updated in the main server because there is a problem with GitHub Heroku integration that's why #705  is not reflected in the server deployed. Merging this PR will solve the total issue. @palisadoes

We also have to manually update the Heroku  server  .

[2022-05-25 16:10] palisadoes commented on #706
I pushed the code manually earlier this week after making the announcement on slack.

I've done so again, however the branch has changed from `master` to `main` in their portal. When the automation is restored we'll need to take this into consideration

Please let me know if it works for you now.

[2022-05-26 11:34] #706 closed

[2022-05-26 12:06] palisadoes commented on #706
The automated Heroku deployment has been restored using the `develop` branch.

[2022-05-26 16:16] palisadoes commented on #707
@xoldyckk If it's not being used, please remove it and submit a PR. This has been a persistent security alert for us.

[2022-05-26 16:16] palisadoes commented on #707
@nishant3721 Are you still working on this?

[2022-05-28 18:04] SiddheshKukade commented on #593
@palisadoes Sir I would like to work on this one

[2022-05-29 15:56] palisadoes commented on #704
Closing as this is fixed by #705

[2022-05-29 15:56] #704 closed

[2022-06-01 14:47] SiddheshKukade commented on #594
I would like to work on this

[2022-06-02 04:05] #593 closed

[2022-06-02 06:32] SiddheshKukade commented on #594
@palisadoes  Ok I will discuss with him

[2022-06-02 11:25] SiddheshKukade commented on #574
I would like to work on this

[2022-06-06 17:24] SiddheshKukade opened #712 "Bug Report : npm run setup compiles with error"
**Describe the bug**
The Express Installtion Functionality provided by the command `npm run setup ` executes with an error
Output :
![image](https://user-images.githubusercontent.com/65951872/172212087-ef115e31-11e6-454c-a123-8913ee672082.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the project in your machine and run 'cd talawa-api'
2. run `npm install`
3. run `npm run setup

[2022-06-06 17:59] palisadoes commented on #712
That `about.md` file was used as part of the installation script. It seems to have been removed.

Do you want to work on this bug?

[2022-06-08 03:15] SiddheshKukade commented on #712
Yes sir you can assign to me 👍🏻

[2022-06-08 03:27] asmitsirohi opened #715 "[Feature Request] Check authentication for Talawa-admin"
**Is your feature request related to a problem? Please describe.**

Currently, in Talawa-admin, the routes are insecure and the authentication of the user is checked only at login.
For more info PalisadoesFoundation/talawa-admin#341

**Describe the solution you'd like**

Query to check whether the user is authenticated or not is added.

[2022-06-08 15:20] #712 closed

[2022-06-13 07:56] #715 closed

[2022-06-13 12:27] asmitsirohi opened #717 "[Feature Request] New Features for Talawa-admin"
**Is your feature request related to a problem? Please describe.**

Currently, in Talawa-admin, the feature for forgetting passwords is not present, and while logging in or signup there is no captcha to detect the bot activity. Also, there is no feature that exists in talawa-admin to allow only authorized admins and the current super admin is not able to create new super admins. For more info Pali

[2022-06-15 12:32] guptapriyanshu7 opened #720 "Allow notifications in the application"
This will eventually allow notifications in the application to keep the users engaged and in sync with the latest updates in the organization.
- Use [firebase-admin](https://www.npmjs.com/package/firebase-admin) package to implement notifications in the backend.
- Save FCM token on login.
- New mutation for logout to clear the FCM token.
- Create notification on new event.

[2022-06-16 11:14] guptapriyanshu7 opened #721 "add event location/venue coordinates to the database schema"
This will store event coordinates in the database schema (latitude and longitude) and return from graphql event schema.
This will help in
- Displaying maps to the user in the frontend.
- Reverse geocode the address.

[2022-07-05 14:31] #721 closed

[2022-07-10 17:38] palisadoes opened #727 "Updating the code coverage test to 49.6%"
**Is your feature request related to a problem? Please describe.**
Updating the code coverage test to 49.6%

**Describe the solution you'd like**
Updating the code coverage test to 49.6% in the github action file `pull-requests.yml`

**Describe alternatives you've considered**
See above

**Approach to be followed (optional)**
See above

**Additional context**
N/A

[2022-07-10 18:00] #727 closed

[2022-07-13 16:44] #720 closed

[2022-07-17 15:05] nishant3721 commented on #717
@asmitsirohi can I work on it?

[2022-07-19 06:25] nishant3721 commented on #717
@asmitsirohi ??

[2022-07-20 01:58] nishant3721 commented on #717
Ok

[2022-07-24 06:06] SiddheshKukade opened #731 "Feature Request : [Implementing features as plugins] Implement GraphQL queries and Mutations for Plugin Architecture"
**Is your feature request related to a problem? Please describe.**

[Latent features in the mobile app should be enabled by installing plugins via the Admin web portal. The API would need to detect the existence of a plugin, and automatically query the plugin for authorization to do some action. When authorized, the mobile app will display new capabilities. This project has two parts:
](https://pa

[2022-07-24 06:07] SiddheshKukade commented on #731
This issue can be assigned to me

[2022-07-27 12:49] SiddheshKukade opened #733 "Resolvers: Create tests for Mutations.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/mutation.js`

-  We will need the API to be refactored for all methods, classes, and/or functions found in this file for testing to be correctly executed.

-  When complete, all methods, classes, and/or functions in the refactored file

[2022-07-27 12:52] SiddheshKukade commented on #733
- This issue is created to increase code coverage of my Pull Request #730

- the  `test/resolvers/post_query/mutation.js` can be found here https://github.com/PalisadoesFoundation/talawa-api/pull/730/commits/ff9749b1de6a78f63e36565452f5d30b5b71a896
- Merging PR #730  Can close this issue

[2022-07-27 12:52] SiddheshKukade commented on #733
The issue can be assigned to me

[2022-07-27 12:55] SiddheshKukade opened #734 "Resolvers: Create tests for Queries.js"
The Talawa-API code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `lib/resolvers/post_query/queries.js`

-  We will need the API to be refactored for all methods, classes, and/or functions found in this file for testing to be correctly executed.

-  When complete, all methods, classes, and/or functions in the refactored file

[2022-07-27 12:56] SiddheshKukade commented on #734
- This issue is created to increase code coverage of my Pull Request #730   (I could not find exisiting issue for the file so I created a new one)

- the  `test/resolvers/post_query/queries.spec.js` can be found here  https://github.com/PalisadoesFoundation/talawa-api/pull/730/commits/797cbd335be010ba7b91c884be14d5a26c7fcae4
- Merging PR #730  Can close this issue

[2022-07-27 12:57] SiddheshKukade commented on #734
The issue can be assigned to me

[2022-07-30 06:42] nishant3721 commented on #590
@palisadoes can I work on it?

[2022-07-31 05:02] guptapriyanshu7 opened #736 "Remove unnecessary token string from LoginInput"
Remove unnecessary token string from LoginInput field. SaveFcmToken mutation is used to update fcm token so it can be removed.

[2022-08-01 15:57] #736 closed

[2022-08-03 06:15] nishant3721 commented on #577
@palisadoes can I work on it?

[2022-08-08 15:26] #717 closed

[2022-08-08 20:43] #731 closed

[2022-08-09 03:08] asmitsirohi opened #740 "[Feature Request] Posts and Events features and Spam mitigation for Talawa-admin"
**Is your feature request related to a problem? Please describe.**
Currently, In talawa-admin, the posts and events list contains hard-coded values, and some fields are missing while creating events and posts. Also, as the count of posts and events increases, there is a need for search functionality.

Also, there is no way in Talawa-admin to detect the user who spammed in the organization group ch

[2022-08-09 04:57] asmitsirohi commented on #740
@palisadoes sir, this issue can be assigned to me

[2022-08-09 06:58] nishant3721 commented on #574
@palisadoes I would like to work on this issue!?

[2022-08-09 07:36] SiddheshKukade commented on #574
@nishant3721 I am working on it wait

[2022-08-09 12:52] nishant3721 commented on #575
@palisadoes I would like to work on this issue!

[2022-08-15 16:34] #574 closed

[2022-08-15 20:08] #577 closed

[2022-08-21 23:20] rakshitgondwal commented on #707
Hey, is anyone working on this issue?

[2022-08-22 01:20] rakshitgondwal commented on #707
@palisadoes how should I proceed with this issue? can you guide me a little bit?

[2022-08-22 04:23] palisadoes commented on #707
1. Search the code base for references to lodash.
2. Upgrade lodash if necessary. Remember that it may not be necessary.
3. Build the app
4. Fix any errors in the tests

[2022-08-22 17:26] rakshitgondwal commented on #707
Hey @palisadoes
Thanks a lot for guiding me but I don't I will be able to fix this issue.
Sorry

[2022-08-22 18:18] xoldyckk commented on #707
@palisadoes Assign this to me.

[2022-08-23 16:34] nishant3721 commented on #590
@palisadoes can I work on it!?

[2022-08-28 16:06] palisadoes commented on #707
We are getting the following messages when trying to deploy the code on the Heroku server.

[code]

[2022-08-28 16:34] rakshitgondwal commented on #707
Heroku has closed its free service, maybe that's why.

[2022-08-29 03:56] SiddheshKukade opened #755 "Feature Request : Performing Donations ( Ability to store donation transaction in Talwa-api )"
**Is your feature request related to a problem? Please describe.**
Ability to perform donations from talawa app and store them in the database using talawa API

**Describe the solution you'd like**

---
#### Changes are still under review of mentors (there might be some changes in the current description)
---
### _Donation API in Talawa-api_

User in oraganization can perform donations as per thie

[2022-08-29 03:56] SiddheshKukade commented on #755
@palisadoes  Sir I would like to work on this issue.

[2022-09-03 20:12] palisadoes commented on #707
We are using a paid version of Heroku. The database is using 32MB of 5GB of available space.

Could it be related to this message in the error?
[code]

[2022-09-03 20:45] xoldyckk commented on #707
@palisadoes should I submit the PR with the node version specified? If yes then tell me what node version talawa-api uses in production and I'll add it.

[2022-09-03 20:48] palisadoes commented on #707
This may have been resolved. Please take a look at your other PR that I just commented on.

[2022-09-11 15:16] #707 closed

[2022-09-11 15:33] rakshitgondwal commented on #585
Hey @palisadoes !!
Can I try contributing to this issue?

[2022-09-12 17:20] noman2002 opened #765 "Feature Request: Add Notification for membership request"
**Is your feature request related to a problem? Please describe.**
Implement notification for admin/super-admin when a new membership request arrives.
When a private org get new membership then the admin and super admin of that org will be notified about it using Firebase.

[2022-09-16 16:44] #734 closed

[2022-09-16 16:45] #733 closed

[2022-09-16 16:51] SiddheshKukade commented on #691
@sandeep-v1404 I think linting the code during the development phase in a pull request can be a subject of choice because a lot of things are being tried and tested during the dev phase. when the changes are finalized or when they reach a particular milestone the code can then be linted properly by the developer and he can take some decisions. So I think doing `npm run lint ` automatically is not

[2022-09-16 16:59] SiddheshKukade commented on #622
@AbhishekM2001 I think the link is working fine now.
[screen-capture.webm](https://user-images.githubusercontent.com/65951872/190690758-35c51ce9-a0de-4fc3-9092-20c8349688e0.webm)

[2022-09-16 17:56] SiddheshKukade commented on #585
@palisadoes I would like to take this sir

[2022-09-19 19:04] palisadoes commented on #691
@SiddheshKukade It is harder to review code when it's not linted as new formatting will be highlighted in the diffs.

[2022-09-19 19:05] #585 closed

[2022-10-18 22:50] #755 closed

[2022-10-23 11:30] kb-0311 opened #773 "Update: INSTALLATION.md"
**Describe the bug**
https://github.com/PalisadoesFoundation/talawa-api/blob/01b2c8e3f0fa487928441dcfb4255dddd4d9b442/INSTALLATION.md?plain=1#L18-L20
This is a wrong method of copying the contents of .env.sample to env and instead, the command should be `cp .env.sample .env` as rectified below in the same installation guide.

**To Reproduce**
Steps to reproduce the behavior:

1. Running `cp .env .

[2022-10-23 18:07] #575 closed

[2022-10-24 18:35] nishant3721 commented on #589
I would like to work on it. Please assign this to me @palisadoes

[2022-11-01 15:41] palisadoes commented on #773
@kb-0311 Please follow the procedure of creating the issue, and waiting for it to be approved. We do it this way to prevent a chaotic process. We had that situation in the past and we really don't want to repeat it. Thanks for your contribution, but please follow the guidelines in our CONTRIBUTING.md file

[2022-11-01 15:51] #773 closed

[2022-11-02 09:09] kb-0311 commented on #773
Thanks for the merge @palisadoes . Yes, Sorry, I will first discuss the issue on the slack channel before opening an issue. Thanks for the CONTRIBUTING guide.

[2022-11-26 12:43] Freedisch commented on #559
@palisadoes I want to know if this issue is still available, because It seems that most of the test cases have already been written but they are still open as an issue.

[2022-11-26 18:16] palisadoes commented on #559
We have done many of the tests. Please let me know if any you find that should be closed.

Otherwise feel free to go ahead and work on any that are still valid.

[2022-11-27 12:17] Freedisch commented on #559
@palisadoes I checked, and there is already a test file for this issue.
I tried to run a test coverage, but i just keep getting these result
![image](https://user-images.githubusercontent.com/82499435/204134742-d5419ba6-3ba1-406a-8466-9d1501929d51.png)

![image](https://user-images.githubusercontent.com/82499435/204134821-abc2dc79-f303-4ce1-8f2c-16c48a610541.png)